apiVersion: apps/v1beta2
kind: StatefulSet
metadata:
  name: {{ kubernetes_emby_statefulset }}
  namespace: {{ kubernetes_emby_namespace }}
  labels:
    app: {{ kubernetes_emby_app }}
{% if kubernetes_emby_statefulset_labels %}
    {{ kubernetes_emby_statefulset_labels | to_nice_yaml | indent(4) }}
{% endif %}
{% if kubernetes_emby_statefulset_annotations %}
  annotations:
    {{ kubernetes_emby_statefulset_annotations | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  serviceName: "emby"
  replicas: {{ kubernetes_emby_replicas }}
  revisionHistoryLimit: {{ kubernetes_emby_revision_history }}
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ kubernetes_emby_app }}
  template:
    metadata:
      labels:
        app: {{ kubernetes_emby_app }}
    spec:
      containers:
      - image: {{ kubernetes_emby_image }}
        imagePullPolicy: Always
        name: emby
        resources:
          {{ kubernetes_emby_resources | to_yaml | indent(10) }}
        ports:
        - name: http
          containerPort: 8096
        readinessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 60
          periodSeconds: 10
        volumeMounts:
        - mountPath: /config
          name: emby-config
          {% if kubernetes_emby_config_volume.subPath is defined %}subPath: {{ kubernetes_emby_config_volume.subPath }}{% endif %}

{% for k, v in kubernetes_emby_media_volumes.items() %}
        - mountPath: /media/{{ k }}
          name: emby-media-{{ k }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
{% if kubernetes_emby_node_selector|default({}) %}
      nodeSelector:
        {{ kubernetes_emby_node_selector | to_yaml | indent(8) }}
{% endif %}
      volumes:
      - {name: emby-config, {{ kubernetes_emby_config_volume.definition | to_yaml }}}
{% for k, v in kubernetes_emby_media_volumes.items() %}
      - {name: emby-media-{{ k }}, {{ v.definition | to_yaml }}}
{% endfor %}
      restartPolicy: Always
